################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IntegrationTests/obj
/obj
/TaskIt.Api/obj
/TaskIt.Core/obj
/UnitTests/obj
/.vs
/IntegrationTests/bin/Debug/net7.0
/TaskIt.Api/bin/Debug/net7.0
*.user
/TaskIt.Core/bin/Debug/net7.0
/TaskIt.Infrastructure/bin/Debug/net7.0
/TaskIt.Infrastructure/obj
/UnitTests/bin/Debug/net7.0
/TaskIt.Application/bin/Debug/net7.0
/TaskIt.Application/obj
/TaskIt.Infrastructure.SQL/bin/Debug/net7.0
/TaskIt.Infrastructure.SQL/obj
/TaskIt.Adapter/bin/Debug/net7.0
/TaskIt.Adapter/obj
/TaskIt.Adapter.SQL/bin/Debug/net7.0
/TaskIt.Adapter.SQL/obj
/TaskIt.Frontend/.vscode
*.editorconfig
/TaskIt.Adapter.System/bin/Debug/net7.0
/TaskIt.Adapter.System/obj
